// SIZES
$default-size: 12px;
$container-width: 1280px;

// BREAKPOINTS
$bp-desktop: 960px;

// COLORS
$color-sun: #DD8E61;
$color-grass: #434234;
$color-steel: #98A3AA;
$color-space: #6D7EAE;
$color-dark: #000000;
$color-white: #FFFFFF;