.header {
    display: flex;
    align-items: center;
    justify-content: center;

    &__ttl {
        font-size: max(2rem, 3.75vmax);
        width: 50%;
        position: absolute;
        text-align: center;
        left: 25%;
    }

    &__lst-container {
        width: 100%;
    }

    &__lst {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__logo {
        width: 10vmax;
        aspect-ratio: 1/1;
    }

    &__itm {
        font-size: max(1rem, 2.2vmax);
    }

    &__menu {
        @include mobile-only() {
            & {
                display: none;
            }
        }

        display: flex;
        gap: max(2rem, 0.5vmax);
    }
}